<div class="wrapper">
    <form method="POST" >
        {{#each interests}}
        <div class="hobbies">
            <img src="./images/{{image}}">
            <label for="{{interest}}">{{interest}}</label>
            <input type="checkbox" id="{{interest}}" name="{{interest}}">
        </div>
        {{/each}}
        <input type="text" name="name">
        <button type="submit" value="submit">Find Friends!</button>
    </form>
</div>