
<div class="container">
    <H2>Select Your Interests:</H2>
    <form method="POST" >
        <div class="grid">
            {{#each interests}}
            <div class="grid">
                <div>
                    <img src="./images/{{image}}">
                    <label for="{{interest}}">{{interest}}</label>
                    <input type="checkbox" id="{{interest}}" name="{{interest}}">
                </div>
            </div>
            {{/each}}
        </div>
        <br>
        <br>
        <label>Name:</label>
        <input type="text" name="name">
        <button type="submit" value="submit">Find Friends!</button>
    </form>
</div>
