
<div class="grid">
    <H2>Select Your Interests:</H2>
    <form method="POST" >
        <div class="wrapper"></div>
            {{#each interests}}
            <div>
                <img src="./images/{{image}}">
                <label for="{{interest}}">{{interest}}</label>
                <input type="checkbox" id="{{interest}}" name="{{interest}}">
            </div>
            {{/each}}
        </div>
        <label>Name:</label><br>
        <input type="text" name="name">
        <button type="submit" value="submit">Find Friends!</button>
        </form>
    </div>
